<!DOCTYPE html>
<html>
<head>
  <title>Snap2sell</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="apple-touch-icon" href="<%= asset_path("appicon.png") %>"/>
  <link rel="apple-touch-startup-image" href="<%= asset_path("splash.png") %>">
  <!-- iPhone -->
  <link rel="apple-touch-startup-image" href="<%= asset_path("splash-320x460.png") %>"
        media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)">
  <!-- iPhone (Retina) -->
  <link rel="apple-touch-startup-image" href="<%= asset_path("splash-640x920.png") %>"
        media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script>
     window.addEventListener("load",function() {
     setTimeout(function(){
      window.scrollTo(0, 0);
      }, 0);
   });
  </script>
  <style>
     body { min-height: 480px; }
   </style>
</head>
<body ng-app='app'>

  <div ng-view>
    <%= yield %>
  </div>

<%= javascript_include_tag "jquery-mary-popin", "data-turbolinks-track" => true %>

</body>
</html>
